.28_3 { 
	overflow:hidden;
}.e28_3 { 
	width:1920px;
	height:1080px;
	position:absolute;
}.e1_2 { 
	background-color:rgba(27.000000290572643, 27.000000290572643, 27.000000290572643, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_18 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:273px;
	height:48px;
	position:absolute;
	left:200px;
	top:225px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e7_5 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:283px;
	height:48px;
	position:absolute;
	left:200px;
	top:917px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:undefined;
}.e3_93 { 
	width:596px;
	height:50px;
	position:absolute;
	left:200px;
	top:125px;
}.e3_6 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:37px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e3_7 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:74px;
	height:48px;
	position:absolute;
	left:100px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e3_41 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:148px;
	height:48px;
	position:absolute;
	left:237px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e4_95 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:148px;
	height:48px;
	position:absolute;
	left:448px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e12_18 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:37px;
	height:0px;
	position:absolute;
	left:0px;
	top:50px;
}.12_18 { 
	border:2px solid rgba(164.00000542402267, 2.000000118277967, 44.000001177191734, 1);
}.e7_32 { 
	width:1529.9998779296875px;
	height:542.478759765625px;
	position:absolute;
	left:200px;
	top:295px;
}.e3_21 { 
	width:300px;
	height:507.4787292480469px;
	position:absolute;
	left:0px;
	top:35px;
}.e3_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.3_10 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e3_14 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:202px;
	height:36.033992767333984px;
	position:absolute;
	left:0px;
	top:410.38714599609375px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e3_15 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:51px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:480.4532470703125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_16 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:117px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:450.4249267578125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_89 { 
	width:300px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_70 { 
	width:300px;
	height:507px;
	position:absolute;
	left:410px;
	top:35px;
}.e3_71 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:400.3777160644531px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/poster.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_72 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:202px;
	height:36.033992767333984px;
	position:absolute;
	left:0px;
	top:410.38714599609375px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e3_73 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:60px;
	height:27px;
	position:absolute;
	left:0px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_74 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:117px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:450.4249267578125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_76 { 
	width:300px;
	height:507.4787292480469px;
	position:absolute;
	left:820.0000610351562px;
	top:35px;
}.e3_77 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:400.3777160644531px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/poster.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_78 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:202px;
	height:36.033992767333984px;
	position:absolute;
	left:0px;
	top:410.38714599609375px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e3_79 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:51px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:480.4532470703125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_80 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:117px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:450.4249267578125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_82 { 
	width:300px;
	height:507px;
	position:absolute;
	left:1229.9998779296875px;
	top:35px;
}.e3_83 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:400.3777160644531px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/poster.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_84 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:202px;
	height:36.033992767333984px;
	position:absolute;
	left:0px;
	top:410.38714599609375px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e3_85 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:70px;
	height:27px;
	position:absolute;
	left:0px;
	top:480px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e3_86 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:117px;
	height:27.025495529174805px;
	position:absolute;
	left:0px;
	top:450.4249267578125px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e7_39 { 
	width:60px;
	height:90px;
	position:absolute;
	left:1469.9998779296875px;
	top:190px;
}.e7_37 { 
	background-color:rgba(0, 0, 0, 0.25);
	width:60px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.7_38 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e7_38 { 
	width:25px;
	height:50px;
	position:absolute;
	left:22px;
	top:20px;
}.e12_19 { 
	transform: rotate(-179.99999499104388deg);
	width:60px;
	height:90px;
	position:absolute;
	left:60px;
	top:280px;
}.e12_20 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(0, 0, 0, 0.25);
	width:60px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e12_21 { 
	transform: rotate(-179.99999499104388deg);
	width:25px;
	height:50px;
	position:absolute;
	left:-22px;
	top:-20px;
}.12_21 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e7_42 { 
	width:91px;
	height:29px;
	position:absolute;
	left:1438.9998779296875px;
	top:0px;
}.e7_33 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:67px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_41 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:10px;
	height:20px;
	position:absolute;
	left:81px;
	top:5px;
}.7_41 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e3_91 { 
	width:400px;
	height:50px;
	position:absolute;
	left:1125px;
	top:25px;
}.e3_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:400px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_50 { 
	color:rgba(0, 0, 0, 1);
	width:325px;
	height:24px;
	position:absolute;
	left:37px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.3_90 { 
	border:2px solid rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
}.e3_90 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:100px;
}.e3_92 { 
	width:200px;
	height:39.68254089355469px;
	position:absolute;
	left:200px;
	top:30px;
}.e4_94 { 
	width:200px;
	height:39.68254089355469px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_46 { 
	width:80px;
	height:35px;
	position:absolute;
	left:1650px;
	top:32px;
}.e3_4 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:80px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.3_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e3_5 { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:10px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e3_47 { 
	width:75px;
	height:35px;
	position:absolute;
	left:1550px;
	top:32px;
}.e3_48 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:75px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.3_48 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e3_49 { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:19px;
	position:absolute;
	left:15px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}