.27_2 { 
	overflow:hidden;
}
.e27_2 { 
	width:1920px;
	height:1080px;
	position:absolute;
}
.e9_44 { 
	background-color:rgba(27.000000290572643, 27.000000290572643, 27.000000290572643, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:-5.6843418860808015e-14px;
	top:0px;
}
.e9_46 { 
	width:1920px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/banner.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_59 { 
	width:262px;
	height:120px;
	position:absolute;
	left:200px;
	top:400px;
}
.e9_47 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:158px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e9_48 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:262px;
	height:36px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e9_49 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:80px;
	height:36px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e9_56 {
	width: 1;
	height:61px;
	position:absolute;
	left:200px;
	top:700px;
}
.e9_50 {
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width: 15;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e9_51 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:202px;
	height:61px;
	position:absolute;
	left:250px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e9_52 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:248px;
	height:61px;
	position:absolute;
	left:564px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e9_54 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:138px;
	height:61px;
	position:absolute;
	left:924px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e9_58 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:790px;
}
.9_55 { 
	border:2px solid rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
}
.e9_55 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.9_57 { 
	border:2px solid rgba(164.00000542402267, 2.000000118277967, 44.000001177191734, 1);
}
.e9_57 { 
	width:138px;
	height:0px;
	position:absolute;
	left:200px;
	top:0px;
}
.e9_60 { 
	color:rgba(165.00000536441803, 165.00000536441803, 165.00000536441803, 1);
	width:1464px;
	height:155px;
	position:absolute;
	left:200px;
	top:875px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e9_79 { 
	width:110px;
	height:31px;
	position:absolute;
	left:650px;
	top:1000px;
}
.e9_75 {
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width: 100px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e9_78 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:30px;
	height:18.524999618530273px;
	position:absolute;
	left:80px;
	top:5px;
}
.e9_74 { 
	width:455px;
	height:50px;
	position:absolute;
	left:200px;
	top:530px;
}
.e9_63 { 
	width:80px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:80px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e9_62 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:29px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_64 { 
	width:105px;
	height:50px;
	position:absolute;
	left:100px;
	top:0px;
}
.e9_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:105px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e9_66 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:29px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_67 { 
	width:105px;
	height:50px;
	position:absolute;
	left:225px;
	top:0px;
}
.e9_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:105px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e9_69 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:29px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_70 { 
	width:105px;
	height:50px;
	position:absolute;
	left:350px;
	top:0px;
}
.e9_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5);
	width:105px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e9_72 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:29px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_2 { 
	width:150px;
	height:29.69999885559082px;
	position:absolute;
	left:200px;
	top:20px;
	background-image:url(images/wavve_bi_combination_white_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_3 { 
	width:327px;
	height:29px;
	position:absolute;
	left:400px;
	top:20px;
}
.e12_4 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:23px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_5 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:45px;
	height:29px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_6 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:89px;
	height:29px;
	position:absolute;
	left:122px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_7 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:89px;
	height:29px;
	position:absolute;
	left:238px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_8 { 
	width:594px;
	height:50px;
	position:absolute;
	left:1126px;
	top:7px;
}
.e12_13 { 
	width:400px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_9 { 
	background-color:rgba(0, 0, 0, 0.25);
	width:400px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.12_9 { 
	border:1px solid rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
}
.e12_10 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:325px;
	height:24px;
	position:absolute;
	left:37px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_11 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:56px;
	height:24px;
	position:absolute;
	left:432px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_12 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:520px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_133 { 
	width:80px;
	height:40px;
	position:absolute;
	left:200px;
	top:360px;
}
.e12_24 { 
	background-color:rgba(53.1249987334013, 53.1249987334013, 53.1249987334013, 1);
	width:80px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e12_34 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:37px;
	height:30px;
	position:absolute;
	left:35px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e12_33 { 
	width:30px;
	height:30px;
	position:absolute;
	left:5px;
	top:5px;
}
.e12_31 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_32 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:21.396053314208984px;
	height:20.4572696685791px;
	position:absolute;
	left:4.3038177490234375px;
	top:4.453125px;
}
